
<!--
.bg1 {background-color: #4a0010;}

.bg3 {background-color: #f0eee4;}

.bgtabon {background-color: #330011;}

.bgtaboff {background-color: #f0eee4;}

.texttabon {color: #FFFFFF;}

.texttaboff {color: #000000;}

td.tabon { background-color: #330011; color: #FFFFFF; }
.tabon A:link { color: #FFFFFF; }
.tabon A:visited { color: #FFFFFF; }
.tabon A:active { color: #FFFFFF; }
.tabon A:hover { color: #FFFFFF; }

td.taboff { background-color: #f0eee4; color: #000000; }
.taboff A:link { color: #000000; }
.taboff A:visited { color: #000000;  }
.taboff A:active { color: #000000;  }
.taboff A:hover { color: #000000;  }

.ChanBoxBg {background-image: url(/media/org/jasig/portal/channels/CUserPreferences/tab-column/channel/chan_box_bg.gif); background-color: #f0eee4;}
.setupBox {border:2px #330011 solid;}
-->
